:root {
  --bg1: #edede9;
  --bg2: #d5bdaf;
  --border: #e3d5ca;
  --txt1: #f5ebe0;
  --txt2: #d6ccc2
}

body {
  margin: 0;
  background-color: #edede9;
opacity: 0.95;
background-image: linear-gradient(0deg, #edede9 50%, #d6d6d3 50%);
background-size: 10px 10px;
}

* {
  box-sizing: border-box;
}

#quote-box {
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;
  height: 60%;
  background-color: var(--bg2);
  border: 2px solid var(--border);
  box-shadow: 0px 0px 15px var(--border);
  border-radius: 2px;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
}

#text {
  text-align: center;
  margin: 3% 5%;
  font-size: 1.2rem;
}
#text:before {
  content:'"'
}
#text:after {
  content:'"'
}

#author {
  text-align: right;
  margin-right: 10%;
  margin-top: -25%;
  font-size: 1rem;
}

#author:before {
  content:'- '
}

#new-quote {
  border: 1px solid var(--border);
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  background-color: var(--bg1);
  border-radius: 2px;
  box-shadow: 0px 0px 5px var(--bg1);
  transition: 0.4s;
}

#new-quote:hover {
  box-shadow: 0px 5px 3px -1px gray;
  cursor: pointer;
  text-shadow: 0px 0px 5px var(--bg2);
  border-radius: 3px;
  transform: translateY(-4px);
}

#tweet-quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8em;
  text-decoration: none;
  color: black;
}


#tweet-quote img{
  border-radius: 50%;
  height: 32px;
  width: 32px;
  transition: 0.5s;
  margin-bottom: 3px;
}

#tweet-quote img:hover {
  box-shadow: 0px 0px 5px black;
  cursor: pointer;
  transform: translateY(-4px);
}

#button-box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 5%;
  left: 10%;
  width: 80%;
}

@media (max-width: 600px) {
  #quote-box {
    width: 90%;
    left:5%;
    height: 80%;
    top: 10%;
  }
  #tweet-quote {
    font-size: 0.6em;
  }
  #new-quote {
    height: 35px;
    padding: 5px;
    font-size: 15px;
  }
}

@media (max-height: 400px) {
  #quote-box {
    justify-content: space-around;
  }
  #author {
    margin-top: 0;
    font-size: 12px;
  }
  #text {
    font-size: 1rem;
  }
  #button-box {
    position: static;
    width: 100%;
  }
  #tweet-quote {
    font-size: 0.4em;
  }
  #new-quote {
    height: 20px;
    padding: 3px;
    font-size: 10px;
  }
}